{% extends 'admin_base.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<!-- Navigation Bar -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      Admin Panel
  </a>

  <!-- Add New Category Button -->
  <div class="ml-auto">
    <a class="btn btn-primary mr-2" href="{% url 'add_category' %}">Add new category</a>
  </div>

  <!-- Add or Delete Movie Button -->
  <a class="btn btn-success mr-2" href="{% url 'add_or_delete_movie' %}">Add or delete movie</a>

  <!-- View Users Button -->
  <a class="btn btn-info mr-2" href="{% url 'view_users' %}">View users</a>

  <!-- Delete Users Button -->
  <a class="btn btn-danger mr-2" href="{% url 'delete_users' %}">Delete users</a>

  <!-- Logout Button -->
  <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</nav>
{% endblock %}
